/* aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 75%;
  float: right;
  font-style: italic;
  background-color: lightgray;
} */
footer {
   text-align: center;
   padding: 3px;
   background-color: rgb(0, 0, 0);
   color: white;
}
body {
  font-family: Lexend;
}
#examplemessage1 label {
  position: absolute;
  top: 0;
  resize: none;

  overflow: scroll;
  white-space: pre-wrap;
}

